.accessibility__menu {
  visibility: hidden;
  opacity: 0;
  width: 445px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(214, 193, 233);
  z-index: 99999;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}
